<html>
    <title>Download File</title>
</head>
<body>
<center>
    <button type="submit" onclick="download('santa_erl.pdf')">Download!</button></center>
    <button onclick="document.getElementById('link').click()">Download!</button>
    <a id="link" href="santa_erl.pdf" download hidden></a>
    
    
    <button>
        <a href="santa_erl.pdf" download>Click to Download!</a>
    </button>
    <button onclick="window.location.href='santa_erl.pdf';">Download 1</button>

<a href="./santa_erl.pdf" download="santa_erl.pdf"><button>Download 2</button></a>

</body>
</html>