{% extends 'base.html' %}
{% block title %}about {% endblock title %}

{% block body %}
<br>
<div class="container">

    <h3> This is Scraper site where you can scrap or extract the data from web pages.</h3> <br>
    <br>

    After visiting the site Go to -> <button> <a href="http://127.0.0.1:8000/"> Home </a></button>
    -> <button> New</a> </button> <br>
    Enter <b>Scraper Name, URL, Data Xpath, Button Xpath</b> if, there is any next button, <b>No of Col</b> For table to
    extarct and click on <button> Submit </button> button.
</div>

{% endblock body %}