{% extends 'base.html' %}
{% block title %}login {% endblock title %}

{% block body %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h2>
                <center> Login</center>
            </h2>
            <hr>
            <form action="" method="post" novalidate class="shadow p-5">
                {% csrf_token %}
                {% for fm in form %}
                <div class="form-group">
                    {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small><br>
                </div>
                {% endfor %}
                <small> <a href="{% url 'password_reset' %}">Forget Password ?</a></small> <br>
                <div class="d-grid gap-2 col-15 mx-auto">
                    <input class="btn btn-primary mt-4" type="submit" value="Login"> <br>
                </div><br>

                <div class="text-center text-primary fw-bold"><small>New User ? <a href="{% url 'signup' %}"
                            class="text-danger"> Create A New Account</a></small>
                </div>

                {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <p class="alert alert-danger my-3">{{error}}</p>
                {% endfor %}
                {% endif %}
            </form>
        </div>
    </div>

    {% endblock body %}